.row{
    margin-top:10px;
    margin-bottom:10px;
}


.container2 {
    max-width: 1024px;
    margin: 0 auto;
}

.savings1 {
    min-height: 300px;
    background-size: cover;
    display: flex;
    align-items: center;
    background: url('/images/savings1.png') 19% no-repeat;
    font-size: 16px;
    text-align: center;
}

.savings-content{
    width: 319px;
    padding: 10px 20px;
    height: 290px;
}
.savings1 p {
    text-align: left;
    font-size: 20px;
    width: 280px;
}

.add-savings{
    color: #004fb4;
    background-color: #FFD900;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: bold;
}

.plus-btn{
    margin-left: 46px;
}

.col2row1 {
    min-height: 300px;
    color: #004fb4;
    background-color: #FFD900;
}

.col2row1 p{
    position: relative;
     top: 50%;
     transform: perspective(1px) translateY(-50%);
}

.savings-future{
    min-height: 300px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    text-align: center;
    background: url('/images/savings-future.png') 19% no-repeat;
    padding: 0 8px;
}