.container1 {
    background: url('/images/banner.png') 65% 0 no-repeat;
    min-height: 800px;
    background-size: cover;
    display: flex;
    align-items: center;
}

.container1--content {
    height: 200px;
    color: #fff;
    margin: 0 auto;
}

.h-c-w-h {
    font-size: 4em;
    font-weight: normal;
}

@media(max-width: 980px) {
    .h-c-w-h {
        font-size: 3em;
    }
}

@media(max-width: 640px) {
    .h-c-w-h {
        font-size: 2em;
    }
}

.quote-button {
    background-color: #FDF100;
    color: blue;
    font-weight: bold;
    font-size: 15px;
    padding: 20px 50px;
}

/* This can be used if Image is not wanted in background */
/* .container1{
    position: relative;
}
.container1 img {
    
    height: auto;
    width:100%;
}

.container1--content {
    color: #fff;
   position:absolute;
    top:20%;
    width:100%;
}

.h-c-w-h {
    font-weight: normal;
}

.quote-button {
    background-color: #FDF100;
    color: blue;
    font-weight: bold;
    font-size: 15px;
    padding: 20px 50px;
} */